---
import Link from "@/components/link/Link.astro"
---

<nav class="nav-links">
  <Link to="/">Inicio</Link>
  <Link to="/about">Sobre mi</Link>
  <Link to="/blog">Blog</Link>
  <Link to="/tags/">Etiquetas</Link>
</nav>
<script src="../scripts/menu.ts"></script>
<style>
  /* estilos de la barra de navegación*/
  .nav-links {
    width: 100%;
    top: 105%;
    left: -105%;
    position: absolute;
    margin: 0;
    background: inherit;
    padding: 1em;
    transition: left 300ms ease-in-out;
  }

 
  .expanded {
    display: flex;
    flex-direction: column;
    left: 0;
  }
  @media screen and (min-width: 636px) {
    .nav-links {
      width: auto;
      display: flex;
      align-items: center;
      position: initial;
      gap:1em;
      top: initial;
      left: initial;
    }

    .expanded {
      flex-direction: row;
      background: transparent;
    }
  }
</style>
